html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.35;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

header{
  text-align: center;
  text-shadow:  2px 2px #9bd4e9;
  font-size: 45px;
  color: #fff;
  letter-spacing: 2px;
  padding: 10px;
}

body {
  background-color: #fcae9c;
  }

table {
  margin: 0 auto;
}

td {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border: 3px solid #fcae9c;
  background-color: #c2d8e0;
  font-size: 120px;
  text-align: center;
  cursor: pointer;
}

td:hover{
  background-color: #9bd4e9;
}

.player{
  text-align: center;
  padding: 0;
  margin-top: 20px;
  height: 135;
}
